// $w-bg-color-main: #3b4655; //main
// $bg-color-alt: #0d121a; //main
// $font-color-base: #e6e8ec;
// $font-color-alt: #5f6268;
// $font-color-glow: hsl(32, 71%, 55%);

// $font-color-alt: #5f6268;
// $font-color-base: #e6e8ec;

/*Color Pallete Core*/
// $color-pallete-cyan: #37c1d3;
// $color-pallete-cyan-alt: #127289;
// $color-pallete-orange: #ef6c2e;
// $color-pallete-orange-alt: #f69d48;
// $color-pallete-green: #2db386;
// $color-pallete-green-alt: #157b6b;

/*Widget Colors*/
$w-bg-base: #3b4655c6;
$w-bg-base-alt: #1e2736c6;
$w-bg-base-inf: #566272c6;
$w-bg-base-inf-alt: #7c8a9cc6;
$w-bg-green: #157b6bc6;
$w-bg-green-alt: #39d6a2c6;
$w-bg-red: #f66e4886;
$w-bg-red-alt: #f66e48d2;
$w-caption-color: #c8c8c8;
$w-caption-color-units: #c8c8c8;
$w-caption-color-units-font: #000000;

$w-diff-red: #f2947a;
$w-diff-green: #8af27a;
$w-diff-inf: #adadad;

/*Interface Core*/
// $widget-caption: #202831; 
$widget-caption-alt: #151a24;
$widget-caption-container: #e1e1e117;
// $widget-body: #151a24c6;
// $widget-body-alt: #2a333dc6;
$widget-shadow-color: #0e131d9e;
$widget-shadow-value-color: #0e131d71;
// $widget-border-color: #2e363e;

$widget-nautical-color-alt: #5f6268;
$widget-nautical-color-base: #e6e8ec;