/*Widget Colors*/
$widget-nautical-color-bg-base: #3b4655c6;
$widget-nautical-color-bg-base-alt: #1e2736c6;
$widget-nautical-color-inf_dark: #566272c6;
$widget-nautical-color-inf-alt: #7c8a9cc6;
$widget-nautical-color-green-dark: #157b6bc6;
$widget-nautical-color-green-alt: #39d6a2c6;
$widget-nautical-color-red-dark: #f66e4886;
$widget-nautical-color-red-alt: #f66e48d2;
$widget-nautical-caption-color-base: #c8c8c8;
$widget-nautical-caption-bg-units: #c8c8c8;
$widget-nautical-caption-units-color: #000000;

$widget-nautical-diff-red: #f2947a;
$widget-nautical-diff-green: #8af27a;
$widget-nautical-diff-inf: #adadad;

/*Interface Core*/
$widget-nautical-caption-color-alt: #151a24;
$widget-nautical-caption-container: #e1e1e117;
$widget-nautical-shadow-color: #0e131d9e;
$widget-nautical-textshadow-color: #0e131d71;

$widget-nautical-color-alt: #5f6268;
$widget-nautical-color-base: #e6e8ec;